#main {
    margin: 0;
}
.style_nav{
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}


.img_hero{
    margin: 0 !important;
    height: 700px !important;
    background-image: url('https://i.ibb.co/WGqTnB8/clothing-store-with-blurred-effect-min.jpg') !important;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
   
}

.padd{
    padding-top: 6%;
    padding-bottom: 3%;
}